# General
*~
.DS_Store
.vscode/
.devcontainer
devcontainer-lock.json

# AI
.claude/
CLAUDE.md
CODEX.md
AGENTS.md

# Python
__pycache__/
*.py[cod]
.venv
.ruff_cache
.coverage

# Project specific
locale/*/LC_MESSAGES/*.mo
node_modules
/sitestatic
celerybeat-schedule
temba/settings.py
/media/emails/
