{% extends "orgs/login/login_base.html" %}
{% load smartmin i18n %}

{% block extra-script %}
  {{ block.super }}
  <script>
    function handleSubmit() {
      document.querySelector("form").submit();
    }
  </script>
{% endblock extra-script %}
{% block content %}
  {% if other_org %}
    <div class="mt-12">
      <div class="text-xl">{% trans "Different Workspace" %}</div>
      <div class="mt-4 mb-12">
        {% if next %}
          {% blocktrans trimmed with org=other_org.name %}
            The page you are requesting belongs to a different workspace, <b>{{ org }}</b>. To see it, you will need to service their account.
          {% endblocktrans %}
        {% else %}
          {% blocktrans trimmed with org=other_org.name %}
            You are about to service the workspace, <b>{{ org }}</b>.
          {% endblocktrans %}
        {% endif %}
      </div>
      <form method="post" action="{% url 'staff.org_service' %}">
        {% for field in form.fields %}
          {% render_field field %}
        {% endfor %}
        {% csrf_token %}
        <input type="submit" value="{% trans "Service Account" %}" class="button button-primary">
      </form>
    </div>
  {% else %}
    {% trans "Invalid org, servicing not available." %}
  {% endif %}
{% endblock content %}
