{% load i18n %}

<div class="paging flex flex-row items-center h-10">
  <div class="flex-grow"></div>
  {% if paginator %}
    <div class="paging-range mr-4">
      {% blocktrans trimmed with start=page_obj.start_index|intcomma end=page_obj.end_index|intcomma total=paginator.count|intcomma %}
        {{ start }} - {{ end }} of {{ total }}
      {% endblocktrans %}
    </div>
  {% endif %}
  <div style="margin-top: 2px" class="paging-controls flex flex-row mr-2">
    <div class="paging-previous mr-2">
      {% if page_obj.has_previous %}
        <a href="{{ request.path }}{% if paginator %}{% querystring page=page_obj.previous_page_number %}{% else %}{% querystring after=page_obj.previous_page_after %}{% endif %}" class="linked">
          <temba-icon size="1.2" name="arrow_left" clickable="true"> </temba-icon>
        </a>
      {% else %}
        <div class="disabled">
          <temba-icon size="1.2" name="arrow_left"> </temba-icon>
        </div>
      {% endif %}
    </div>
    <div class="paging-next">
      {% if page_obj.has_next %}
        <a href="{{ request.path }}{% if paginator %}{% querystring page=page_obj.next_page_number %}{% else %}{% querystring after=page_obj.next_page_after %}{% endif %}" class="linked">
          <temba-icon size="1.2" name="arrow_right" clickable="true"> </temba-icon>
        </a>
      {% else %}
        <div class="disabled">
          <temba-icon size="1.2" name="arrow_right"> </temba-icon>
        </div>
      {% endif %}
    </div>
  </div>
</div>
