{% load i18n static %}

{% blocktrans trimmed %}
  Visitors chat with this channel through a widget embedded on your website.
{% endblocktrans %}
<div class="card">
  <div class="subtitle">{% trans "Channel UUID" %}</div>
  <div class="code inline-block">{{ channel.uuid }}</div>
  <div class="mt-2">
    {% blocktrans trimmed %}
      The embedded widget uses this UUID to identify this channel when connecting.
    {% endblocktrans %}
  </div>
</div>
<div class="mt-4 card">
  <div class="subtitle">{% trans "Embed" %}</div>
  <div class="mt-2">
    {% blocktrans trimmed %}
      Add the following to your website to embed the chat widget. The script only needs to be included once per page.
    {% endblocktrans %}
  </div>
  {% static "components/temba-webchat.js" as bundle %}
  <div class="bleed-x bleed-b text-white bg-black">
    <div class="code p-0 break-all bg-black text-white">
      &lt;script src="{% if bundle|slice:":4" == "http" %}{{ bundle }}{% else %}https://{{ request.get_host }}{{ bundle }}{% endif %}"&gt;&lt;/script&gt;
      <br>
      &lt;temba-webchat channel="{{ channel.uuid }}" host="https://{{ request.get_host }}"&gt;&lt;/temba-webchat&gt;
    </div>
  </div>
</div>
<div class="mt-4 card">
  <div class="subtitle">{% trans "Allowed Domains" %}</div>
  <div class="mt-2">
    {% if channel.config.allowed_domains %}
      {% blocktrans trimmed %}
        Only websites on the following domains can embed this channel's chat widget. This can be changed in the channel settings.
      {% endblocktrans %}
      <div class="code inline-block mt-2">{{ channel.config.allowed_domains|join:", " }}</div>
    {% else %}
      {% blocktrans trimmed %}
        Currently any website can embed this channel's chat widget. Setting allowed domains in the channel settings stops other websites from embedding it.
      {% endblocktrans %}
    {% endif %}
  </div>
</div>
