{% extends "smartmin/base.html" %}
{% load temba i18n %}

{% block title %}
  <div class="flex">
    <div class="flex items-center text-gray-600">
      {% if object.flow_type == "V" %}
        <temba-icon name="flow_ivr" class="mr-3"> </temba-icon>
      {% elif object.flow_type == "B" %}
        <temba-icon name="flow_background" class="mr-3"> </temba-icon>
      {% endif %}
    </div>
    <div id="title-text">{{ title }}</div>
  </div>
{% endblock title %}
{% block extra-style %}
  {{ block.super }}
  <style>
    .spa-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      min-height: 0;
      padding-right: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
    }

    .no-menu {
      padding: 0 1em;
    }

    .spa-footer {
      display: none;
    }

    temba-flow-editor {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: 100%;
      min-height: 0;
      border-top: 1px solid #e7e7e7;
    }

    temba-flow-editor[message-view] + temba-simulator {
      display: none;
    }
  </style>
{% endblock extra-style %}
{% block extra-script %}
  {{ block.super }}
  <script>
    function navigateTo(url, detail) {
      if (detail.metaKey || detail.ctrlKey) {
        window.open(url, '_blank');
      } else {
        spaGet(url);
      }
    }

    function handleContactClicked(e) {
      navigateTo("/contact/read/" + e.detail.uuid + "/", e.detail);
    }

    function handleFlowClicked(e) {
      navigateTo("/flow/editor/" + e.detail.uuid + "/", e.detail);
    }

    function handleGroupClicked(e) {
      navigateTo("/contact/group/" + e.detail.uuid + "/", e.detail);
    }

    function handleFollow(event) {
      const {
        flowUuid,
        nodeUuid
      } = event.detail;

      // Get the editor element
      const editor = document.querySelector('temba-flow-editor');

      if (editor) {
        // Only focus if we're on the same flow for now
        if (editor.flow !== flowUuid) {
          // spaGet("/flow/editor/" + flowUuid + "/");
        } else {
          editor.focusNode(nodeUuid);
        }
      }
    }
  </script>
{% endblock extra-script %}
{% block content %}
  <temba-flow-editor
    flow="{{ object.uuid }}"
    features="{{ feature_filters }}"
    -temba-contact-clicked="handleContactClicked"
    -temba-flow-clicked="handleFlowClicked"
    -temba-group-clicked="handleGroupClicked"
  >
  </temba-flow-editor>
  <temba-simulator flow="{{ object.uuid }}" -temba-follow-simulation="handleFollow"> </temba-simulator>
{% endblock content %}
