{% extends "smartmin/list.html" %}
{% load smartmin sms temba i18n %}

{% block extra-style %}
  {{ block.super }}
  <style>
    temba-label {
      max-width: 400px;
    }
  </style>
{% endblock extra-style %}
{% block content %}
  <div class="mt-4 shadow rounded-lg rounded-bl-none rounded-br-none bg-white">{% include "includes/short_pagination.html" %}</div>
  <div class="flex-grow overflow-y-auto shadow rounded-b-lg">
    <table class="list lined header scrolled selectable">
      <thead>
        <tr>
          <th style="width: 100%">
            <div class="flow-start-type-selector flex">
              <div onclick="goto(event, this)" href="{% url 'flows.flowstart_list' %}" class="{% if not filtered %}is-active{% endif %} linked mr-1">{% trans "All" %}</div>
              |
              <div onclick="goto(event, this)" href="{% url 'flows.flowstart_list' %}?type=manual" class="{% if filtered %}is-active{% endif %} linked ml-1">{% trans "Manual" %}</div>
            </div>
          </th>
          <th>{% trans "Type" %}</th>
          <th style="text-align: right">{% trans "Contacts" %}</th>
          <th style="text-align: right">{% trans "Started" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
          <tr onclick="showStart(event, this)" data-endpoint="{% url 'flows.flowstart_read' obj.uuid %}" class="flowstart object-row select-row">
            <td>
              {% if obj.flow.is_active %}
                <a href="{% url 'flows.flow_editor' obj.flow.uuid %}" onclick="event.stopPropagation()"><temba-label type="flow" primary clickable>{{ obj.flow.name }}</temba-label></a>
              {% else %}
                {% trans "A deleted flow" %}
              {% endif %}
            </td>
            <td>{{ obj.get_start_type_display }}</td>
            <td style="text-align: right; white-space: nowrap">{% if obj.contact_count is not None %}{{ obj.contact_count|intcomma }}{% endif %}</td>
            <td style="text-align: right">
              <div style="white-space: nowrap">{{ obj.created_on|timedate }}</div>
              {% if obj.status == "F" or obj.status == "I" or obj.is_starting %}
                <div style="padding-top: 6px; font-size: 11px; white-space: nowrap">
                  {% if obj.status == "F" %}
                    {% trans "Failed" %}
                  {% elif obj.status == "I" %}
                    {% trans "Interrupted" %}
                  {% else %}
                    {% trans "Starting" %}
                  {% endif %}
                </div>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr class="empty_list">
            <td colspan="99">{% trans "No flow starts" %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <temba-modax id="start-details"> </temba-modax>
{% endblock content %}
{% block extra-script %}
  {{ block.super }}
  <script>
    function showStart(event, row) {
      if (event.target.closest("a")) {
        return;
      }

      var modax = document.querySelector("#start-details");
      modax.endpoint = row.dataset.endpoint;
      modax.open = true;
    }
  </script>
{% endblock extra-script %}
